# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 140daec15875471911d3b7f1413544a310a6428a07c6ad0a5403065d9bee22f2a350f88f818ec19f17f3f0a9541b452a20f3c6f31b03ce6604942dcdebef8bba

test:
  secret_key_base: 565ac7b6a3f896133641ac759765d695f95b1b919d2b2076fee02cb5784713fec0ad11200447e4e41b7866c584f3af5ee4ea969071b6296453822724f3b6f5a5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
