// https://medium.com/coiney-product-team/うわっ-私のサイトbootstrapくさすぎ-たった数文字変えるだけでbootstrapのくさみが抜ける7つのcssテクニック-6cd1c3b8410a#.rhrb59eit
*
  letter-spacing: .1em
  text-align: justify
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif

html
  position: relative
  min-height: 100%
  padding-bottom: 90px

.article-author
  text-align: right
  margin-left: 0px !important
  margin-right: 0px !important

footer
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
  .text-muted
    margin: 20px 0